.navbar{
  padding: 10px;
  padding-left: 0;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li {
  cursor: pointer;
}